@import "tailwindcss";

@theme {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-h1: 48px;
  --text-h1--line-height: 55px;
  --text-h2: 40px;
  --text-h2--line-height: 46px;
  --text-h3: 33px;
  --text-h3--line-height: 38px;
  --text-h4: 28px;
  --text-h4--line-height: 32px;
  --text-h5: 23px;
  --text-h5--line-height: 27px;
  --text-h6: 19px;
  --text-h6--line-height: 22px;
  --text-p: 16px;
  --text-p--line-height: 26px;
  --text-sm: 13px;
  --text-sm--line-height: 21px;

  --color-primary: #0ebde9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter, sans-serif, Arial, Helvetica);
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}
